img{
	max-width: 100%;
}
.img_menu{
	margin-bottom: 20px;
	max-width: 200px;
	margin: 0 auto;
}
.img_menu img{
	margin-bottom: 15px;
}
.input-df{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.input-df .form-control{
	width: 100%;
}
.input-df input[type="checkbox"],
.input-df input[type="radio"]{
	margin-right: 10px;
}
.img-table-menu{
	max-width: 60px;
}
.textarea-method{
	height: 182px !important;
}
.img-pos{
	max-width: 80px;
}
.whs{
	white-space: nowrap;
}
.table-bill .item{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 5px;
}
.table-bill tr th:nth-child(2) ~ th,
.table-bill tr td:nth-child(2) ~ td{
	text-align: right;
}
.box-df{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.box-df .form-control{
	height: 30px;
	line-height: 30px;
	padding: 3px 12px;
}
.box-df input.form-control{
	width: 180px;
}
.box-df select.form-control{
	width: 150px;
}
.box-df>div{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.box-df>div .form-control{
	margin-right: 10px;
}
.table-image img{
	max-width: 150px;
}

@media (max-width: 640px){
.box-df,
.box-df>div{
	display: block;
}
.box-df input.form-control,
.box-df select.form-control{
	width: 100%;
	margin-bottom: 10px;
}
}
